<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd"
       xmlns:context="http://www.springframework.org/schema/context">

    <import resource="discount_service-conf.xml" />

    <context:property-placeholder location="classpath:auditorium_maximum.properties,
                                            classpath:auditorium_minimum.properties"
    />

    <bean
            id="auditoriumMaximum" class="ua.epam.spring.hometask.domain.Auditorium">
        <constructor-arg name="name" value="${auditorium.maximum.name}"/>
        <constructor-arg name="numberOfSeats" value="${auditorium.maximum.seats}"/>
        <constructor-arg name="vipSeats" value="${auditorium.maximum.vip.seats}"/>
    </bean>

    <bean
            id="auditoriumMinimum" class="ua.epam.spring.hometask.domain.Auditorium">
        <constructor-arg name="name" value="${auditorium.minimum.name}"/>
        <constructor-arg name="numberOfSeats" value="${auditorium.minimum.seats}"/>
        <constructor-arg name="vipSeats" value="${auditorium.minimum.vip.seats}"/>
    </bean>

    <bean id="auditoriumServiceImpl" class="ua.epam.spring.hometask.service.implementation.AuditoriumServiceImpl">
        <property name="auditoriums">
            <list>
                <ref bean="auditoriumMaximum"/>
                <ref bean="auditoriumMinimum"/>
            </list>
        </property>
    </bean>

    <bean id="bookingService" class="ua.epam.spring.hometask.service.implementation.BookingServiceImpl">
        <property name="discountService" ref="discountService"/>
    </bean>

    <bean id="abstractDomainObjectiveServiceImpl"
          class="ua.epam.spring.hometask.service.implementation.AbstractDomainObjectiveServiceImpl"/>

    <bean id="eventService"
          class="ua.epam.spring.hometask.service.implementation.EventServiceImpl"/>

    <bean id="userService"
          class="ua.epam.spring.hometask.service.implementation.UserServiceImpl"/>

</beans>