<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd"
       xmlns:context="http://www.springframework.org/schema/context">

    <import resource="discount_service-conf.xml"/>

    <context:property-placeholder location="classpath:auditorium_maximum.properties,
                                            classpath:auditorium_minimum.properties"
    />

    <bean
            id="auditoriumMaximum" class="ua.epam.spring.hometask.domain.Auditorium">
        <constructor-arg name="name" value="${auditorium.maximum.name}"/>
        <constructor-arg name="numberOfSeats" value="${auditorium.maximum.seats}"/>
        <constructor-arg name="vipSeats" value="${auditorium.maximum.vip.seats}"/>
    </bean>

    <bean
            id="auditoriumMinimum" class="ua.epam.spring.hometask.domain.Auditorium">
        <constructor-arg name="name" value="${auditorium.minimum.name}"/>
        <constructor-arg name="numberOfSeats" value="${auditorium.minimum.seats}"/>
        <constructor-arg name="vipSeats" value="${auditorium.minimum.vip.seats}"/>
    </bean>

    <bean id="auditoriumServiceImpl" class="ua.epam.spring.hometask.service.implementation.AuditoriumServiceImpl">
        <property name="auditoriumDatabase" ref="auditoriumDao"/>
    </bean>

    <bean id="bookingService" class="ua.epam.spring.hometask.service.implementation.BookingServiceImpl">
        <property name="discountService" ref="discountService"/>
        <property name="bookedTickets" ref="bookingDao"/>
    </bean>

    <bean id="abstractDomainObjectiveServiceImpl"
          class="ua.epam.spring.hometask.service.implementation.AbstractDomainObjectServiceImpl">
        <property name="domainObjects" ref="domainObjectDao"/>
    </bean>

    <bean id="eventService"
          class="ua.epam.spring.hometask.service.implementation.EventServiceImpl">
        <property name="events" ref="eventDao"/>
    </bean>

    <bean id="userService"
          class="ua.epam.spring.hometask.service.implementation.UserServiceImpl">
        <property name="registeredUsers" ref="usersDao"/>
    </bean>

    <bean id="domainObjectDao"
          class="ua.epam.spring.hometask.dao.DomainObjectDatabase"/>

    <bean id="auditoriumDao"
          class="ua.epam.spring.hometask.dao.AuditoriumDatabase">
        <property name="auditoriums">
            <set>
                <ref bean="auditoriumMaximum"/>
                <ref bean="auditoriumMinimum"/>
            </set>
        </property>
    </bean>

    <bean id="bookingDao"
          class="ua.epam.spring.hometask.dao.BookingDatabase"/>

    <bean id="eventDao"
          class="ua.epam.spring.hometask.dao.EventDatabase"/>

    <bean id="usersDao"
          class="ua.epam.spring.hometask.dao.UserDatabase"/>

</beans>